body {
  background-image: url("file:///Users/guillaumebruno/Desktop/MAMP/htdocs/dev/perso/projet-front/cards/img/fond-ecran-pokemon-go-06.jpg");
  background-repeat: no-repeat;
    background-size:cover;
  color: #555;
  font-size: 1.2em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  padding: 1em;
  margin-left: -150px;
  margin-top: 60px;
  max-width: 700px;
  text-align: center;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.card {
  width: 160px;
  border-radius:20px;
  height: 210px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;

}

.face:after {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  display: block;
  content: '';
  height: 22px;
  width: 100%;
  background: url('http://media.a-g.fr/crea/talenance/shadow.png') no-repeat;
  background-size: 100%;
}
.face {
  border-radius:20px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
      transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
}




.front {
  -webkit-box-shadow:inset 10px 15px 70px 3px rgb(231, 76, 60);
    background-color:rgb(26, 188, 156);
  background: url("file:///Users/guillaumebruno/Desktop/MAMP/htdocs/dev/perso/projet-front/cards/img/salameche.png") center center;
  background-size:cover;
  z-index: 2;
}

.back {
  z-index: 1;
  background: url("file:///Users/guillaumebruno/Desktop/MAMP/htdocs/dev/perso/projet-front/cards/img/sal.jpeg") center center;
    background-size:cover;
  background-color: #28255f;
  transform:rotateY(180deg);
}

.back a {
    line-height: 250px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    height: 50%;
    text-align: center;
    color: black;
    display: block;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
}

.back a:before {
  content:"";
  background-size:cover;
  position: absolute;
  width:50px;
  height: 50px;
  left:0;
  right:0;
  margin:0 auto;
    filter:invert(100%) brightness(150%);
  -webkit-filter:invert(100%) brightness(150%);
}





.back a:hover {
  opacity:0.5;
}

.card:hover .front{
  transform:rotateY(-180deg);
}
.card:hover .back{
  transform:rotateY(0deg);
}


.container2 {
  padding: 1em;
  margin-left: 21%;
  margin-top: -250px;
  max-width: 700px;
  text-align: center;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.card2 {
  width: 160px;
  border-radius:20px;
  height: 210px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;

}

.face:after {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  display: block;
  content: '';
  height: 22px;
  width: 100%;
  background: url('http://media.a-g.fr/crea/talenance/shadow.png') no-repeat;
  background-size: 100%;
}
.face2 {
  border-radius:20px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
      transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
}




.front2 {
  -webkit-box-shadow:inset 10px 15px 70px 3px rgb(241, 196, 15);
    background-color:rgb(26, 188, 156);
  background: url("http://www.freeiconspng.com/uploads/pokemon-png-22.png") center center;
  background-size:cover;
  z-index: 2;
}

.back2 {
  z-index: 1;
  background: url("http://assets.pokemon.com/assets/cms2-fr-fr/img/cards/web/XYP/XYP_FR_XY84.png") center center;
    background-size:cover;
  background-color: #28255f;
  transform:rotateY(180deg);
}

.back a {
    line-height: 250px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    height: 50%;
    text-align: center;
    color: black;
    display: block;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
}

.back a:before {
  content:"";
  background-size:cover;
  position: absolute;
  width:50px;
  height: 50px;
  left:0;
  right:0;
  margin:0 auto;
    filter:invert(100%) brightness(150%);
  -webkit-filter:invert(100%) brightness(150%);
}





.back a:hover {
  opacity:0.5;
}

.card:hover .front2{
  transform:rotateY(-180deg);
}
.card:hover .back2{
  transform:rotateY(0deg);
}



.container3 {
  padding: 1em;
  margin-left: 71%;
  margin-top: -250px;
  max-width: 700px;
  text-align: center;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.card3 {
  width: 160px;
  border-radius:20px;
  height: 210px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;

}

.face:after {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  display: block;
  content: '';
  height: 22px;
  width: 100%;
  background: url('http://media.a-g.fr/crea/talenance/shadow.png') no-repeat;
  background-size: 100%;
}
.face3 {
  border-radius:20px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
      transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
}




.front3 {
  -webkit-box-shadow:inset 10px 15px 70px 3px rgba(0, 153, 255, 0.75);
    background-color:rgb(26, 188, 156);
  background: url("http://image.noelshack.com/fichiers/2015/43/1445267206-fulguris-forme-bete-sacree-by-xous542.png") center center;
  background-size:cover;
  z-index: 2;
}

.back3 {
  z-index: 1;
  background: url("http://assets.pokemon.com/assets/cms2-fr-fr/img/cards/web/XY6/XY6_FR_26.png") center center;
    background-size:cover;
  background-color: #28255f;
  transform:rotateY(180deg);
}

.back a {
    line-height: 250px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    height: 50%;
    text-align: center;
    color: black;
    display: block;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
}

.back a:before {
  content:"";
  background-size:cover;
  position: absolute;
  width:50px;
  height: 50px;
  left:0;
  right:0;
  margin:0 auto;
    filter:invert(100%) brightness(150%);
  -webkit-filter:invert(100%) brightness(150%);
}





.back a:hover {
  opacity:0.5;
}

.card:hover .front3{
  transform:rotateY(-180deg);
}
.card:hover .back3{
  transform:rotateY(0deg);
}
